<!DOCTYPE html>
<html lang="en">

@{
    string Title = ViewBag.Title != null ? ViewBag.Title : "Blog Thủ Thuật | Chia sẽ các thủ thuật về công nghệ";
    string Description = ViewBag.Description != null ? ViewBag.Description : "Blog Thủ Thuật | Chia sẽ các thủ thuật về công nghệ";
    string Url = ViewBag.Url != null ? ViewBag.Url : "https://phamphuongkhang.xyz";
}
<head>
    <link rel="icon" href="https://phamphuongkhang.xyz/images/logo.png" type="image/icon type">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @Html.Raw(Title)
    </title>
    <meta name="description"
        content="@Html.Raw(Description)">
    <meta name="google-site-verification" content="n7-Sc3A7Znnok_1AAeUhdBhjcStPTVQ07kGtv9v-mvE" />
    <meta name="google-site-verification" content="2yLc0cvYrHTy2eHVWlNzLQew7Bcg5TfZ8gkMReAH-4A" />
    <link rel="canonical" href="https://phamphuongkhang.xyz/" />
    <meta content="index,follow" name="robots" />
    <meta property="og:title" content="@Html.Raw(Title)" />
    <meta property="og:description" content="@Html.Raw(Description)" />
    <meta property="og:url" content="@Html.Raw(Url)" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://phamphuongkhang.xyz/images/logo.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="628" />

    <link href='https://fonts.googleapis.com/css?family=Merriweather:300,400,700%7CPoppins:400,300,500,600,700'
        rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="/css/slick.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="/css/colors.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R51RZ8YNQH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-R51RZ8YNQH');
    </script>



     @if (ViewBag.Reading != 1)
    {
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type"   : "Organization",
        "name"     :"Blog Thủ Thuật | Chia sẽ các thủ thuật về công nghệ",
        "url"      : "https://phamphuongkhang.xyz/",
        "logo"     : "https://phamphuongkhang.xyz/images/logo.png",
        "contactPoint": [
        {
        "@@type": "ContactPoint",
        "contactType": "customer service"
        }
        ],
        @* "sameAs"    :["https://www.youtube.com/channel/UCe8MWpXzk5HSEESV7A3dqHQ","https://www.dailymotion.com/tinsaohan","https://tinsaohan.business.site","https://www.pinterest.com/tinsaohan","https://www.flickr.com/photos/193222716@N08","https://www.reddit.com/user/tinsaohan","https://tinsaohan.tumblr.com","https://twitter.com/tinsaohan","https://www.linkedin.com/in/tin-saohan-a781b8214/"], *@
        "foundingDate"  :"2023",
        "address" : [
        {
        "@@type"    :"PostalAddress",
        "addressLocality":"Hồ Chí Minh City",
        "addressCountry": "Việt Nam",
        "postalCode":"72209",
        "email":"gv.runfast@gmail.com"
        }
        ]
        }
    </script>
    }
    else
    {
    <script type="application/ld+json">
    {
    "@@context": "https://schema.org",
    "@@type": "Article",
    "mainEntityOfPage":    [    {    "@@type":"WebPage",    "@@id":"@ViewBag.FriendlyUrl"    }    ],
    "description": "@Html.Raw(ViewBag.Description)",
    "headline": "@Html.Raw(ViewBag.Title)",
    "datePublished": "@ViewBag.DatePublish",
    "dateModified": "@ViewBag.DateModified",
    @* "author": {
        "@@type": "Person",
        "name": "phamminhhieu"
    }, *@
    "publisher": {
    "@@type": "Organization",
    "name": "Blog Thủ Thuật | Chia sẽ các thủ thuật về công nghệ",
    "logo": {
        "@@type": "ImageObject",
        "url": "https://phamphuongkhang.xyz/images/logo.png"
    }
    },
    "image": {
        "@@type": "ImageObject",
        "url": "@ViewBag.Thumb"
        }
    }
</script>
    }
</head>

<body>
    <div id="wrapper">
        <partial name="_header" />
        @RenderBody()
        <partial name="_footer" />
    </div>

    <!-- include jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- include jQuery -->
    <script src="/js/plugins.js"></script>
    <!-- include jQuery -->
    <script src="/js/jquery.main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
