@model Article

<h1>Add Article</h1>


<form>
    <div class="form-group">
        <label for="Category">Loại bài viết</label>
        <div class="row">
            <div class="col-sm-2">
                <select class="form-control" name="Category" id="Category"
                    asp-items="Html.GetEnumSelectList<CategoryEnum>()">
                </select>
            </div>
        </div>
    </div>
    <input type="hidden" id="Id" name="Id" value="@Model.Id">
    <div class="form-group">
        <label for="Title">Tiêu đề</label>
        <input type="text" class="form-control" id="Title" name="Title" placeholder="Nhập tiêu đề" value="@Model.Title">
    </div>
    <div class="form-group">
        <label for="Description">Mô tả</label>
        <input type="text" class="form-control" id="Description" name="Description" placeholder="Nhập mô tả"
            value="@Model.Description">
    </div>
    <div class="form-group">
        <label for="Description">Thumb</label>
        <input type="text" class="form-control mb-2" id="Thumb" name="Thumb" placeholder="Nhập thumb hình"
            value="@Model.Thumb">
        <input type="button" class="btn btn-primary mb-2" id="btnCheckImage" onclick="CheckImage()" value="Xem hình">
        <div class="d-block">
            <img src="@Model.Thumb" id="previewImageThumb">
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12">
                <div class="document-editor__toolbar"></div>
                <div id="editor">
                    @Html.Raw(Model.Content)
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <select class="form-control" name="Status" id="Status" asp-items="Html.GetEnumSelectList<StatusCode>()">
                </select>
            </div>
        </div>
    </div>
    <button type="button" onclick="Update()" class="btn btn-primary">Lưu</button>
</form>
